package modules

import (
	"{{.ProjectName}}/config/routes"
	
	// IMPORTS DOS MÓDULOS - Adicione seus módulos aqui
	// Exemplo:
	// "{{.ProjectName}}/modules/users"
	// "{{.ProjectName}}/modules/products"
)

// RegisterModules registra todos os módulos da aplicação
func RegisterModules(registry *routes.Registry) {
	// REGISTRAR MÓDULOS AQUI
	// Exemplo:
	// registry.Register("users", users.NewModule())
	// registry.Register("products", products.NewModule())
	
	// Quando você executar 'gaver module crud', os módulos serão
	// automaticamente adicionados aqui.
}

