/**
 * Electron preload script
 * https://www.electronjs.org/docs/latest/tutorial/process-model#preload-scripts
 */

const { contextBridge, ipcRenderer } = require('electron')

// Expose protected methods that allow the renderer process to use
// the ipcRenderer without exposing the entire object
contextBridge.exposeInMainWorld('electronAPI', {
  // Add your electron APIs here if needed
  // Example:
  // openFile: () => ipcRenderer.invoke('dialog:openFile')
})

