{
  "name": "{{.ProjectName}}",
  "version": "0.0.1",
  "description": "A Quasar Project",
  "productName": "{{.ProjectName}}",
  "author": "",
  "private": true,
  "scripts": {
    "lint": "eslint . --ext .js,.jsx,.ts,.tsx,.vue",
    "format": "prettier --write \"**/*.{js,jsx,ts,tsx,json,scss,md}\"",
    "dev": "quasar dev -m capacitor -T android",
    "build": "quasar build -m capacitor -T android",
    "android:dev": "quasar dev -m capacitor -T android",
    "android:build": "quasar build -m capacitor -T android",
    "android:sync": "cd android && ./gradlew clean && cd .. && quasar capacitor sync android",
    "add:logo": "quasar ext add @quasar/icon-genie",
    "compile": "quasar build -m capacitor -T android"
  },
  "dependencies": {
    "@quasar/extras": "^1.16.9",
    "axios": "^1.7.7",
    "quasar": "^2.15.1",
    "vue": "^3.5.13",
    "vue-router": "^4.4.5"
  },
  "devDependencies": {
    "@capacitor/android": "^6.0.0",
    "@capacitor/cli": "^6.0.0",
    "@quasar/app-vite": "^2.0.0",
    "eslint": "^8.57.1",
    "eslint-plugin-vue": "^9.32.0",
    "prettier": "^3.4.2"
  },
  "browserslist": [
    "last 10 Chrome versions",
    "last 10 Firefox versions",
    "last 4 Edge versions",
    "last 7 Safari versions",
    "last 8 Android versions",
    "last 8 ChromeAndroid versions",
    "last 8 FirefoxAndroid versions",
    "last 10 iOS versions",
    "last 5 Opera versions"
  ],
  "engines": {
    "node": ">= 18.0.0",
    "npm": ">= 9.0.0"
  }
}

