<template>
  <q-page class="flex flex-center">
    <div class="text-h4">Bem-vindo ao {{.ProjectName}}</div>
  </q-page>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'IndexPage'
})
</script>

