package models

import (
	"time"
)

type {{.ModelName}} struct {
	// gaverModel: primaryKey; autoIncrement
	ID uint `json:"id" gorm:"primaryKey"`

{{range .Fields}}
	// gaverModel: {{.Annotation}}
	{{.Name}} {{.Type}} `json:"{{.JSONTag}}"{{if .GORMTag}} gorm:"{{.GORMTag}}"{{end}}`
{{end}}

	// gaverModel: ignore:write; readable
	CreatedAt time.Time `json:"created_at" gorm:"autoCreateTime"`
	UpdatedAt time.Time `json:"updated_at" gorm:"autoUpdateTime"`
}

