package services

import (
	"{{.ProjectName}}/modules/{{.ModuleName}}/models"
	"{{.ProjectName}}/modules/{{.ModuleName}}/repositories"
)

type {{.ModelName}}Service struct {
	repo *repositories.{{.ModelName}}Repository
}

func New{{.ModelName}}Service(repo *repositories.{{.ModelName}}Repository) *{{.ModelName}}Service {
	return &{{.ModelName}}Service{repo: repo}
}

{{if .HasList}}
// List retorna todos os {{.ModelNameLower}}s
func (s *{{.ModelName}}Service) List() ([]models.{{.ModelName}}, error) {
	return s.repo.FindAll()
}
{{end}}

{{if .HasGet}}
// Get retorna um {{.ModelNameLower}} por ID
func (s *{{.ModelName}}Service) Get(id string) (models.{{.ModelName}}, error) {
	return s.repo.FindByID(id)
}
{{end}}

{{if .HasCreate}}
// Create cria um novo {{.ModelNameLower}}
func (s *{{.ModelName}}Service) Create(data map[string]interface{}) (models.{{.ModelName}}, error) {
	return s.repo.Create(data)
}
{{end}}

{{if .HasUpdate}}
// Update atualiza um {{.ModelNameLower}}
func (s *{{.ModelName}}Service) Update(id string, data map[string]interface{}) (models.{{.ModelName}}, error) {
	return s.repo.Update(id, data)
}
{{end}}

{{if .HasDelete}}
// Delete remove um {{.ModelNameLower}}
func (s *{{.ModelName}}Service) Delete(id string) error {
	return s.repo.Delete(id)
}
{{end}}

